- # neighborhood.haml
- # Justin Martenstein - March, 2011

%html{:xmlns => "http://www.w1.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

%head
	%title Lunch on Four Wheels, a seattle street food directory
	%link{:rel => "stylesheet", :href => "../stylesheet.css", :type => "text/css"}

%body
	=haml :header, :layout => false

	- # get the neighborhood object
	- hood = Neighborhood.find_by_name(@neighborhood)

	.info
		%strong.neighborhood #{hood.name}

	.main
		- (0..3).each do |i|
			%ul.days

				-# grab the ruby objects 
				- day = Date.today + i
				- stops = hood.stops.by_date(day)

				%li.date

					-# display information
					%strong.date #{day.strftime("%A, %B #{day.day.ordinalize}")}
					%ul.stops

						- if (!stops.empty?)
							- stops.each do |stop|
								%li.stop
									%font.stop-main
										%a{ :href => "../truck/#{stop.truck.name}" }>= stop.truck.name 
										, #{stop.hours}
									%br
									%font.stop-sub
										#{stop.location.name} 
										- if !stop.location.notes.nil?
											(#{stop.location.notes})
						- else
							%li.no_stop 
								No trucks today

	=haml :footer, :layout => false

