- hood = Neighborhood.find_by_name(@neighborhood)

%head
	%title Seattle Food Trucks > #{hood.name} 
	%link{:rel => "stylesheet", :href => "../stylesheet.css", :type => "text/css"}

%body
	.header Seattle Food Trucks > #{hood.name}
	%br

	.main
		- (0..3).each do |i|
			.day

				-# grab the ruby objects 
				- day = Date.today + i
				- stops = hood.stops.by_date(day)

				-# display information
				.date
					#{day}
				- if (!stops.empty?)
					- stops.each do |stop|
						.stop
							%a{ :href=>"../truck/#{stop.truck.name}" }> #{stop.truck.name} 
							, #{stop.location.name}, #{stop.hours}
				- else
					.no_stop 
						No trucks today
