-# neighborhoods.haml
-# Justin Martenstein - March, 2011

!!! XML
!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	%head
		%title #{@page_text['title']}, #{@page_text['sub-title']} 
		%link{:rel => "stylesheet", :href => "#{@base_url}/stylesheet.css", :type => "text/css"}

	%body
		=haml :header, :layout => false
		
		.info
			%strong.title Neighborhoods

		.main
			%ul.neighborhoods
				- Neighborhood.all.each do |hood|
					%li.neighborhood
						%a{ :href=>"#{@base_url}/neighborhood/#{hood.name}" }= hood.name

		=haml :lower_nav, :layout => false
	
		=haml :footer, :layout => false
