%head
	%title Seattle Food Trucks
	%link{:rel => "stylesheet", :href => "stylesheet.css", :type => "text/css"}

%body

	.header Seattle Food Trucks

	.main
		- (0 .. 6).each do |i|
			.day 
				- day = Date.today + i
				.date 
					%h4 #{day}
				- stops = Stop.by_date(day)
				- if (!stops.empty?)
					- stops.each do |stop|
						.stop
							%p #{stop.truck.name}, #{stop.location.neighborhood.name }, #{stop.location.name }, #{stop.hours}
				- else
					.no_stop No trucks today
