%head
	%title Seattle Food Trucks
	%link{:rel => "stylesheet", :href => "../stylesheet.css", :type => "text/css"}

%body
	.header Seattle Food Trucks
	%br

	.main

		- # grab the truck and stop information here 
		- truck = Trucks.where('truck_name like ?', @name).first
		- stops = Stops.where('truck_name like ?', @name)

		/ display information about the truck
		.name #{truck.truck_name}
		.website #{truck.website}
		/ # p truck.truck_name
		%br

		/ display information about the trucks upcoming stops
		- (0 .. 3).each do |i|
			.day
				- day = Date.today + i
				.date #{day}
				- day_stops = stops.by_date(day)
				- if (!day_stops.empty?)
					- day_stops.each do |stop|
						.stop
							.location #{stop.location}
							.hours #{stop.hours}
				- else
					.no_stop No trucks today

