-# truck.haml

!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	=haml :header, :layout => false

	%body

		=haml :upper_nav, :layout => false

		- # grab the truck and stop information here 
		- truck = Truck.find_by_name(@name)
		- # stops = Stop.where('truck_name like ?', @name)

		.info
			/ display information about the truck
			%strong.truck #{truck.name} 

			%br

			.externals
				- if (!truck.website.nil?)
					%a{ :href => "#{truck.website}" } website
					&nbsp;	
				- if (!truck.twitter.nil?)
					%a{ :href => "http://www.twitter.com/#{truck.twitter}" } twitter
					&nbsp;
				- if (!truck.facebook.nil?)
					%a{ :href => "#{truck.facebook}" } facebook
					&nbsp;
				- if (!truck.yelp.nil?)
					%a{ :href => "http://www.yelp.com/biz/#{truck.yelp}" } yelp

			.food
				Food:
				- truck.foods.each do |food|
					#{food.name}

		.main

			-# set a counter, so we know if there are any stops
			- j = 0

			/ display information about the trucks upcoming stops
			- (0 .. 6).each do |i|
				%ul.days

					/ grab the ruby date object
					- day = Date.today + i
					- stops = truck.stops.by_date(day)

					- if (!stops.empty?)

						-# increment the counter every time we find a stop
						- j = j + 1

						-# list the date
						%li.date 
							%strong.date #{day.strftime("%A, %B #{day.day.ordinalize}")}
						%ul.stops

							- stops.each do |stop|
								%li.stop
									%font.stop-main<
										%a{ :href => "#{@base_url}/neighborhood/#{stop.location.neighborhood.name}" }< 
											#{stop.location.neighborhood.name}
										, #{stop.hours}
									%br
									%font.stop-sub<
										#{stop.location.name} 
										- if !stop.location.notes.nil?
											(#{stop.location.notes})


			-# If the truck has no stops, list a message
			- if (j == 0)
				%ul.stops
					%li
						No stops currently scheduled
				%br

		=haml :lower_nav, :layout => false
			
		=haml :footer, :layout => false

