-# truck.haml

!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	=haml :header, :layout => false

	%body

		=haml :upper_nav, :layout => false

		- # grab the truck and stop information here 
		- truck = Truck.find_by_name(@name)
		- # stops = Stop.where('truck_name like ?', @name)

		.info
			/ display information about the truck
			%a{ :href => "#{truck.website}" } 
				%strong.truck #{truck.name} 

		.main

			/ display information about the trucks upcoming stops
			- (0 .. 3).each do |i|
				%ul.days

					/ grab the ruby date object
					- day = Date.today + i
					- stops = truck.stops.by_date(day)

					%li.date 
						%strong.date #{day.strftime("%A, %B #{day.day.ordinalize}")}
						%ul.stops

							- if (!stops.empty?)
								- stops.each do |stop|
									%li.stop
										%font.stop-main<
											%a{ :href => "#{@base_url}/neighborhood/#{stop.location.neighborhood.name}" }< 
												#{stop.location.neighborhood.name}
											, #{stop.hours}
										%br
										%font.stop-sub<
											#{stop.location.name} 
											- if !stop.location.notes.nil?
												(#{stop.location.notes})
							- else
								%li.no_stop No trucks today

		=haml :lower_nav, :layout => false
			
		=haml :footer, :layout => false

