-# neighborhoods.haml
-# Justin Martenstein - March, 2011

!!! XML
!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	%head
		%title #{@page_text['title']}, #{@page_text['sub-title']}
		%link{:rel => "stylesheet", :href => "#{@base_url}/stylesheet.css", :type => "text/css"}
					
	%body
		=haml :header, :layout => false

		.info
			%strong.title Food Trucks

		.main 
			%ul.trucks
				- Truck.all.each do |truck|
					%li.truck
						%a{ :href=>"#{@base_url}/truck/#{truck.name}" }= truck.name

		=haml :lower_nav, :layout => false

		=haml :footer, :layout => false
