%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

%head
	%title Lunch on Four Wheels, a seattle street food directory
	%link{:rel => "stylesheet", :href => "../stylesheet.css", :type => "text/css"}

%body

	=haml :header, :layout => false

	- # grab the truck and stop information here 
	- truck = Truck.find_by_name(@name)
	- # stops = Stop.where('truck_name like ?', @name)

	.info
		/ display information about the truck
		%a{ :href => "#{truck.website}" } 
			%strong.truck #{truck.name} 

	.main

		/ display information about the trucks upcoming stops
		- (0 .. 3).each do |i|
			%ul.days

				-# grab the ruby date object
				- day = Date.today + i
				- stops = truck.stops.by_date(day)

				%li.date 
					%strong.date #{day.strftime("%A, %B #{day.day.ordinalize}")}
					%ul.stops

						- if (!stops.empty?)
							- stops.each do |stop|
								%li.stop
									%a{ :href => "../neighborhood/#{stop.location.neighborhood.name}" }> 
										#{stop.location.neighborhood.name}
									, #{stop.location.name}, #{stop.hours}
						- else
							%li.no_stop No trucks today

	=haml :footer, :layout => false
